.select {
    &.open {
        .select__list {
            display: block;
            max-height: 200px;
            overflow: scroll;
        }

        .select__title {
            display: block;
            border-radius: 5px 5px 0 0;
        }
    }

    &__title {
        position: relative;
        width: 190px;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        background: blue;
        color: #fff;
        text-align: left;

        &::before {
            content: '';
            border: solid #fff;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translate(0px, -6px) rotate(45deg);
        }

        &:hover {
            background-color: #1489dc;
        }
    }

    &__list {
        width: 190px;
        display: none;
        list-style: none;
        position: absolute;
        z-index: 1000;
        background: blue;
        border-top: 1px solid #6d9ce3;
        border-radius: 0 0 3px 3px;
        color: #fff;
    }

    &__option {
        padding: 10px 15px;
        cursor: pointer;

        &:hover {
            background-color: #1489dc;
        }
    }
}
