.type {
    display: flex;
    flex-direction: column;

    &__item {
        margin-bottom: 10px;

        input {
            display: none;

            &:checked + span {
                background-color: #939393;
            }
        }

        span {
            color: #fff;
            font-size: 16px;
            display: block;
            padding: 10px 15px;
            background-color: #b1b1b1;
            cursor: pointer;

            &:hover {
                background-color: #a2a2a2;
            }
        }
    }
}
