.type {
    display: flex;
    flex-direction: column;

    &__item {
        margin-bottom: 10px;

        input {
            display: none;

            &:checked + span {
                background-color: blue;
            }
        }

        span {
            color: #fff;
            font-size: 16px;
            display: block;
            padding: 10px 15px;
            background-color: #6d9ce3;
            cursor: pointer;
            border-radius: 3px;

            &:hover {
                background-color: #1489dc;
            }
        }
    }
}
